:root {
    --gray-900: #141414;
    --gray-800: #1F1F1F;
    --gray-700: #333333;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-green: #C4F82A;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.container {
    background-color: var(--gray-800);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 40px;
}


.social-link-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.social-link-button {
    width: 304px;
    height: 45px;
    background-color: var(--gray-700);
    border: none;
    border-radius: 8px;
    margin: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.social-link-button:hover {
    background-color: var(--color-green);
    color: ;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

